<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is shelly's web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./media.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js'
        integrity='sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <h1 class="navbar-brand navbar_title">shelly</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto ms-5 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#contest">contest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#work">work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#skill">skill</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container header_container">
            <div class="row">
                <div class="col-sm-12 col-md-6  header_content header_content_one align-items-center">
                    <img src="./images/me2.png" class="header_meimg">
                    <div class="header_icon_box">
                        <a href="https://line.me/ti/p/pZf8bZGV5l" class="header_icon" target="_blank">
                            <i class="bi bi-line"></i>
                        </a>
                        <a href="https://github.com/shelly9457" class="header_icon" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 header_content">
                    <div class="header_title">HELLO!</div>
                    <h3>我叫Shelly<br>目前就讀台北商業大學資訊管理系二年級<br>對於設計網頁抱有熱誠<br>你將透過此網頁更加地了解我!</h3>
                    <h3>My name is shelly, you will get to know me better through this page!</h3>
                    <div class="w-100 my-3">
                        <a href="#contest" class="header_btn">繼續瀏覽更多↓</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="app">
        <div id="contest"></div>
        <div class="contest container-fluid py-5">
            <div class="container contest_container py-5">
                <div class="contest_me">
                    <h1 class="title">contest ME</h1>
                    <div class="title_line ms-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-7 contest_content">
                        <div class="contest_item">
                            <div>
                                <div class="fs-3 contest_item_title">接觸HTML CSS javascript</div>
                                <div class="box" style="color: var(--color-gray);">
                                    <i class="bi bi-calendar2-check-fill"></i>
                                    <h4 class="contest_item_date mb-0 mx-2">2021</h4>
                                </div>
                            </div>
                            <div>
                                <div class="contest_dot"></div>
                                <div class="contest_line"></div>
                            </div>
                        </div>
                        <div class="contest_item">
                            <div></div>
                            <div>
                                <div class="contest_dot"></div>
                                <div class="contest_line"></div>
                            </div>
                            <div>
                                <div class="fs-3 contest_item_title">接觸jquery php mysql</div>
                                <div class="box justify-content-end" style="color: var(--color-gray);">
                                    <h4 class="contest_item_date mb-0">2021 Nov</h4>
                                    <i class="bi bi-calendar2-check-fill  mx-2"></i>
                                </div>
                            </div>
                        </div>
                        <div class="contest_item">
                            <div>
                                <div class="fs-3 contest_item_title">52屆技能競賽北區分區賽網頁技術青年組佳作</div>
                                <div class="box" style="color: var(--color-gray);">
                                    <i class="bi bi-calendar2-check-fill  mx-2"></i>
                                    <h4 class="contest_item_date mb-0">2022 Apr</h4>
                                </div>
                            </div>
                            <div>
                                <div class="contest_dot"></div>
                                <div class="contest_line"></div>
                            </div>
                        </div>
                        <div class="contest_item">
                            <div></div>
                            <div>
                                <div class="contest_dot"></div>
                                <div class="contest_line"></div>
                            </div>
                            <div>
                                <div class="fs-3 contest_item_title">全國技藝競賽網頁設計組金手第三名</div>
                                <div class="box justify-content-end" style="color: var(--color-gray);">
                                    <h4 class="contest_item_date mb-0">2022 Nov</h4>
                                    <i class="bi bi-calendar2-check-fill  mx-2"></i>
                                </div>
                            </div>
                        </div>
                        <div class="contest_item">
                            <div>
                                <div class="fs-3 contest_item_title">53屆全國技能競賽青年組</div>
                                <div class="box" style="color: var(--color-gray);">
                                    <i class="bi bi-calendar2-check-fill  mx-2"></i>
                                    <h4 class="contest_item_date mb-0">2023 Jul</h4>
                                </div>
                            </div>
                            <div>
                                <div class="contest_dot"></div>
                                <div class="contest_line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 contest_font_box col-lg-5 box justify-content-end">
                        <img src="./images/contest_font.png" class="contest_font">
                    </div>
                </div>
            </div>
        </div>
        <div id="work"></div>
        <div class="container-fluid work py-5">
            <div class="container py-5">
                <div class="work_me">
                    <h1 class="title">work</h1>
                    <div class="title_line ms-3"></div>
                </div>
                <div class="row">
                    <div class="work_content col-sm-12 col-lg-7">
                        <div class="work_item" v-for="item in workdata">
                            <h1>{{item.name}}</h1>
                            <div id="" class="carousel slide carousel-fade work_run" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <a class="carousel-item" :data-bs-interval="2000" :href="item.href" target="_blank"
                                        v-for="(img,index) in item.image1" :class="{ active: index === 0 }">
                                        <img :src="img" class="d-block work_img" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div id="work_img2" class="carousel slide carousel-fade work_run" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <a class="carousel-item" :data-bs-interval="2000" :href="item.href" target="_blank"
                                        v-for="(img,index) in item.image2" :class="{ active: index === 0 }">
                                        <img :src="img" class="d-block work_img" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" work_font_box col-sm-12 col-lg-5 box align-items-start justify-content-end">
                        <img src="./images/work_font.png" class="work_font">
                    </div>
                </div>
            </div>
        </div>
        <div id="skill"></div>
        <div class="container-fluid pe-0 skill ">
            <div class="container py-5 skill_container">
                <div class="row">
                    <h1 class="title text-center mb-5">skill</h1>
                    <div class="col-sm-12 col-lg-6">
                        <div class="skill_content">
                            <i class="bi bi-braces skill_icon_code"></i>
                            <div class="text-center">
                                <h1 class="skill_title">code</h1>
                                <h5 style="color: var(--color-gray);">查看5 個項目</h5>
                            </div>
                            <i class="bi bi-chevron-down fs-3 skill_icon_arrow"></i>
                            <div class="skill_box ms-auto">
                                <div class="skill_item my-3" v-for="(item,index) in code" :key="index">
                                    <div class="box justify-content-between">
                                        <h1 class="me-5 mb-0" style="color: var(--color-dark);">{{item.name}}</h1>
                                        <h1 style="color: var(--color-gray);">{{item.percent}}%</h1>
                                    </div>
                                    <div class="skill_box_line" :style="{ '--line-width': item.percent + '%' }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer></footer>
    <script src="./data.js"></script>
    <script src="./index.js"></script>
</body>

</html>