@media (max-width:992px) {
    body {
        font-size: 16px;
    }

    .contest_font_box,
    .work_font_box {
        display: none;
    }

    .contest_me,
    .work_me {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
    }

    .footer_media {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .header_content_one {
        margin-top: 100px;
    }

    .header_content {
        text-align: center;
    }

    .title_line {
        display: none;
    }
}

@media (max-width:576px) {
    body {
        font-size: 12px;
    }

    .skill_media {
        margin: 3em 0;
    }

    footer * {
        text-align: center;
    }
    .title{
        letter-spacing: 10px;
    }
}

@media (max-width:630px) {
    #work_img2 {
        right: 50%;
    }
}